@model FINAL.Teacher

@{
    ViewBag.Title = "Dashboard";
}





<h2>Dashboard</h2>
<div class="jumbotron">
    <div class="lead">
        Welcome
        @Html.DisplayFor(Model => Model.TeaFirstName)
        @Html.DisplayFor(Model => Model.TeaLastName)
    </div>
    <button class="btn btn-primary">Logout</button>
</div>

    <div class="well">
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a data-toggle="tab" href="#home">Courses</a></li>
        @for (int i = 0; i < Model.Courses.Count; i++)
        {
            <li>
                <a data-toggle="pill" href="#menu_@i">
                    @Html.DisplayFor(Model => Model.Courses.ElementAt(i).CouName)
                </a>
                
            </li>
        }
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <br/>
          <p style="color:aqua">Select any course to mark attendance</p>
        </div>
       
        @for (int i = 0; i < Model.Courses.Count; i++)
        {
                <div id="menu_@i" class="tab-pane fade">
                       <h3>@Html.DisplayFor(o => o.Courses.ElementAt(i).CouName)</h3>
                    
                       @Html.ActionLink("Mark Attendance","MarkAttendance",new { courseId=Model.Courses.ElementAt(i).CouId })
                   
                </div>
        }
        
    </div>
</div>